<app-loading *ngIf="loading"></app-loading>

<section class="repository-info" *ngIf="repository">
  <header>
    <img [src]="repository?.owner.avatar_url" [alt]="repository?.full_name" />
    <div>
      <strong>{{ repository?.full_name }}</strong>
      <p>{{ repository?.description }}</p>
    </div>
  </header>
  <ul>
    <li>
      <strong>{{ repository?.stargazers_count }}</strong>
      <span>Star</span>
    </li>

    <li>
      <strong>{{ repository?.forks_count }}</strong>
      <span>Forks</span>
    </li>

    <li>
      <strong>{{ repository?.open_issues_count }}</strong>
      <span>Issues Abertas</span>
    </li>
  </ul>
</section>

<section>
  <app-issue-list [issues]="issues"></app-issue-list>
</section>
