.title {
  max-width: 433px;

  font-size: 48px;
  color: #3a3a3a;
  line-height: 56px;
  margin-top: 40px;
}

.form {
  display: flex;
  margin-top: 40px;
  max-width: 700px;
}

.form input {
  flex: 1;
  height: 70px;
  padding: 0 24px;
  border: 2px solid #fff;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  color: #a8a8a8b3;
  box-shadow: 0px 2px 2px 0px rgba(168, 162, 162, 0.5);
  transition: all 0.2s;
}

.form input.error {
  border-color: #c53030;
}

.form input:hover {
  transform: scale(1.1);
}

button {
  max-width: 200px;
  width: 100vh;
  background: #dd0031;
  border: none;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 2px 2px 0px rgba(168, 162, 162, 0.5);
  color: #fff;
  height: 70px;
  font-weight: bold;
  transition: background-color 0.5s;
}
button:hover {
  background-color: #c0002a;
}

.error {
  display: block;
  color: #c53030;
  margin-top: 10px;
}

#repo-container {
  margin: 16px 0;
}

.repo-list {
  margin-top: 80px;
  max-width: 700px;
}

#repo-container a {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  text-decoration: none;

  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

#repo-container a:hover {
  transform: translateX(10px);
}

#repo-container a + a {
  margin-top: 16px;
}
#repo-container img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.repo-list div {
  flex: 1;
  margin: 0 16px;
}
#repo-container strong {
  font-size: 16px;
  color: #3d3d4d;
  line-height: 28px;
}

#repo-container p {
  font-size: 14px;
  color: #a8a8b3;
  line-height: 21px;
}

#repo-container .material-icons {
  margin-left: auto;
  color: #a8a8b3;
}
