<div>
  <a href="#">
    <img src="../../../assets/logo.svg" alt="Github Explore Angular" />
  </a>

  <h1 class="title">Explore seus repositórios no Github</h1>

  <form class="form" (submit)="searchRepository()">
    <input
      [(ngModel)]="search"
      type="text"
      name="search"
      id="search"
      placeholder="Entre com usuário/repositório"
    />
    <button type="submit">Pesquisar</button>
  </form>

  <div class="repo-list">
    <div id="repo-container" *ngFor="let repository of repositories.reverse()">
      <a href="#">
        <img [src]="repository.owner.avatar_url" [alt]="repository.full_name" />
        <div>
          <strong>{{ repository.full_name }}</strong>
          <p>{{ repository.description }}</p>
        </div>
        <span class="material-icons"> keyboard_arrow_right </span>
      </a>
    </div>
  </div>
  <span class="error" *ngIf="hasError"
    >Favor entrar com repositório correto</span
  >
</div>
