<div>
  <a [routerLink]="">
    <img src="../../../assets/logo.svg" alt="Github Explore Angular" />
  </a>

  <h1 class="title">Explore seus repositórios no Github</h1>

  <form class="form" (submit)="searchRepository()">
    <input
      [(ngModel)]="search"
      type="text"
      name="search"
      id="search"
      placeholder="Entre com usuário/repositório"
      [ngClass]="hasError ? 'error-input' : ''"
    />
    <button type="submit" [disabled]="search.length === 0">Pesquisar</button>
  </form>

  <span class="error" *ngIf="hasError"
    >Favor entrar com repositório correto</span
  >
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <app-repository-list [repositories]="repositories"></app-repository-list>

  <div *ngIf="repositories?.length === 0" class="animation-left">
    <span class="error" style="font-weight: bold"
      >Nenhum repositório adicionado</span
    >
  </div>
</div>
